<div  [ngClass]="{main: true, darkmode: enDarkmode}" >
  <nav [ngClass]="{darkmode: enDarkmode}">
    <div [ngClass]="'left-nav'">
      <div><i class="fa-brands fa-apple"></i></div>
      <div>Finder</div>
      <div>File</div>
      <div>Edit</div>
      <div>View</div>
      <div>Go</div>
      <div>Window</div>
      <div>Help</div>
    </div>
    <div [ngClass]="'right-nav'">
      <div><i class="fa-solid fa-wifi"></i></div>
      <div><i class="fa-solid fa-volume-low"></i></div>
      <div><i class="fa-solid fa-battery-quarter"></i></div>
      <div><i class="fa-solid fa-magnifying-glass"></i></div>
      <div><i class="fa-solid fa-align-left"></i></div>
    </div>
  </nav>
  <section>
    <app-settings *ngIf="enSettings"
    [width]="300" 
    [height]="200" 
    [left]="150" 
    [top]="60">></app-settings>
  </section>
  
  <nav [ngClass]="'nav_bottom'">
    <img [src]="app.iconUrl" (click)="IconMenubarClick(app)"  *ngFor="let app of apps; index as i;">
  </nav>
</div>