.main {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/dessert-15inch.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--textcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main.darkmode {
    background-image: url("/assets/dessert-15inch-darkmode.jpg");
    color: var(--textcolor-darkmode);
}

nav {
    width: 100vw;
    background-color: var(--maincolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    height: 3vh;
    font-size: 2vh;
}
nav.darkmode {
    background-color: var(--maincolor-darkmode);
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
}

.left-nav div:not(:first-child):hover, .right-nav div:hover{
    background-color: var(--hovercolor);
    transition: ease 1.5s;
}
.left-nav div {
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
}
.right-nav div {
    margin-right: 1vw;
}
.nav_bottom {
    width: max-content;
    height: 6vh;
    bottom: 1vh;
    border-radius: 0.5vh;
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: var(--menubarcolor);
}
.nav_bottom img{
    height: 6vh;
}
.nav_bottom img:nth-last-child(2),.nav_bottom img:nth-last-child(3),.nav_bottom img:nth-child(2){
    border-left: 1px solid var(--menubarbordercolor);
}
.main section {
    width: 100vw;
    height: 97vh;
    display: flex;
    
}
footer {
    width: 100vw;
    display: flex;
    justify-content: center;
}
app-settings {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 97vh;
}
app-terminal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 97vh;
}
app-safari {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 97vh;
}
app-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 97vh;
}