<div #box [ngClass]="'main'" cdkDrag>
    <nav [ngClass]="{darkmode: enDarkmode}" cdkDragHandle>
        <div class="dot red" (click)="Close()"></div>
        <div class="dot organge"></div>
        <div class="dot green"></div>
        <div class="name">Safari</div>
    </nav>
    <div class="body">
        <body>
            
                <script async src="https://cse.google.com/cse.js?cx=435e4f5d924d0ac63"></script>
                <div class="gcse-search"></div>
            
        </body>
    </div>
</div>
