.main {
   background-color: var(--popupcolor);
   display: flex;
   flex-direction: column;
   min-width: 22vw;
   min-height: 20vh;
}
nav {
   width: 100%;
   background-color: var(--popupmenubarcolor);
   display: flex;
   align-items: center;
   cursor: default;
   height: 3vh;
   font-size: 2vh;
}
nav.darkmode {
   background-color: var(--popupcolor-darkmode);
}
nav .dot {
   height: 5px;
   width: 5px;
   border-radius: 50%;
   display: inline-block;
}
nav div {
   margin-left: 0.5vw;
}
nav div i {
   margin-top: auto;
   margin-bottom: auto;
}
.red {
   background-color: red;
}
.green {
   background-color: green;
}
.organge {
   background-color: orange;
}
.body {
   margin: 1vh 1vw;
   display: flex;
   align-items: center;
   font-size: 2vh;
   color: var(--maincolor-darkmode);
}
.body input {
   width: 0;
   height: 0;
   visibility: hidden;
}
.body input:checked + label:after {
   left: calc(100% - 0.1vw);
   transform: translateX(-100%);
}
.body input:checked + label {
   background-color: var(--popupcolor-darkmode);
}
.body label {
   width: 4vh;
   height: 2vh;
   background-color: var(--popupmenubarcolor);
   border-radius: 1vh;
   position: relative;
   cursor: pointer;
   transition: 0.5s;
   box-shadow: 0 0 20px #477a8550;
 }
.body label::after {
   content: "";
   width: 1vh;
   height: 1vh;
   background-color: #e8f5f7;
   position: absolute;
   border-radius: 0.5vh;
   top: 0.5vh;
   left: 0.1vw;
   transition: 0.5s;
 }
label:active:after {
   width: 1vw;
}
.body p {
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 0.5vw;
}
.resize-action {
   position: absolute;
   left: 100%;
   top: 100%;
   transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
   border-style: solid;
   border-width: 8px;
   border-color: transparent transparent transparent  var(--popupmenubarcolor);
}
.resize-action:hover, .resize-action:active{
   cursor: nwse-resize;
}